@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1f242d;
}
a {
    color: #fff;
    /*Tar bort understrik i länker, visas som vanlig text*/
    text-decoration: none;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    /*width 100% gör att det täcker hela skärm*/
    width: 100%;
    padding: 25px 9%;
    /*background: slateblue; Navigation bar color, used to style*/ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*z-index 100: visar navbar alltid framför*/
    z-index: 100;
}
.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a {
    color: cornflowerblue;

}
.home {
    display: flex;
    align-items: center;
    /*gap between image & text*/
    gap: 70px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1 {
    font-size: 55px;
    margin-top: 25px;  
}
.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 25px;    
}
.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    /*Text, Javautvecklare design*/
    -webkit-text-stroke: .7px cornflowerblue;
    animation: display-text 11s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
/*Tar bort animation från Javautvecklare*/
.home-info h2 span[data-text="Javautvecklare"] {
    color: cornflowerblue;
    -webkit-text-stroke: none;
    animation: none;
}
/* h2 animation*/
@keyframes display-text {
    25%,
    100% {
        display: none;
    }

}
.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid cornflowerblue;
    color: cornflowerblue;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
/*Animation för Javautvecklare texten. Filling text with solid color*/
@keyframes fill-text {
    10%,
    100% {
        width: 0;
    }
        70%,
        90% {
            width: 100%;
        }
}
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;  
}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: rgb(49, 88, 160);
    border: 2px solid cornflowerblue;
    border-radius: 40px;
    box-shadow: 0 0 5px cornflowerblue;
    font-size: 16px;
    color: bisque;
    font-weight: 600;
    transition: .5s;
}
.btn:hover {
    background: transparent;
    color: cornflowerblue;
    box-shadow: none;
}
.home-info .btn-sci .sci {
    margin-left: 30px;
}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid cornflowerblue;
    border-radius: 50%;
    font-size: 20px;
    color: cornflowerblue;
    margin: 0 8px;
    transition: .5s;
    position: relative;
    pointer-events: all;
    /*cursor: pointer;*/
}
.home-info .btn-sci .sci a:hover {
    background: cornflowerblue;
    color: #1f242d;
    box-shadow: 0 0 10px cornflowerblue;
    pointer-events: all;
}
.home-info .btn-sci .sci a[title]:hover {
    pointer-events: none; /* Hindrar webbläsaren från att visa den vanliga tooltipp */
    animation: none;
}
/* Tooltip-stil för att visa text när muspekare är över ikonen */
.home-info .btn-sci .sci a:hover::after {
    content: attr(title); /* Texten från title-attributet */
    position: absolute;
    top: -30px; /* Justera positionen */
    left: 50%;
    transform: translateX(-50%);
    background-color: cornflowerblue;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    animation: none;
}
.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    /*background: cornflowerblue; blue circle around img*/
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    /* Green border runt image*/
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
/*Visar 2 cirklar runt image*/
.home-img .img-box::after {
    animation-delay: -5s;
}
@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img {
    position: absolute;
    /* Adjust top to adjust image*/
    top: 5px;
    left: 7px;
    display: block;
    width: 85%;
    object-fit: cover;
    /*mix-blend-mode: lighten;*/
    mix-blend-mode:normal;

}
